body{
  background: #FAFAFA;
  font-family: OpenSans ,sans-serif;
}
nav {
  margin:-2% -2% 2% -2%;
  background: #F56B2A;
  height: 70px;
  line-height: 70px;

}
nav a{
  text-decoration: none;
  color: white;
}
a:hover{
  text-decoration: underline;
}
ul{

  text-align: center;
}
li{
  list-style-type: none;
  display: inline;
  margin:1%;
  text-align: center;
  font-size: 15px;
  color:white;
  font-weight: bold;
}
li a:hover{
  color: #F56B2A;
}
button{
  width: 30%;
  height:50px;
  margin-top: 8%;
  background:#3873BD;
  color:white;
  border-radius: 10px;
}
img{

  position: absolute;
  right: 30%;
  top: 18%;
  margin:auto;
}

.logo{
  font-size: 25px;
}
.connecter{
  border: 1px solid white;
  padding:10px 10px;
  border-radius: 5px;
}
.leftside{
  width: 20%;
  position: absolute;
  right: 6%;
  top: 10%;

}
aside li a{
  display: block;
  text-align: right;
  margin-top: -18;


}
