html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

      /*my css starts here*/


nav{
  display: none;
}
h1{
  background:#F56B2A;
  color:white;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family:OpenSens;
  font-size:30px;


}

/*paraghraphe droit */
.deposer{
    width: 100%;
    height:40px;
    line-height:40px;
    text-align: center;
    background:#3873BD;
    border-radius: 5px;


}

.deposer a {
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

         /*button*/
    button{
    width: 100%;
    height:40px;
    line-height:40px;
    text-align: center;
    border-radius: 5px;
    color:#3873BD ;
    font-weight: bold;
    font-size: 15px;

    background:#FAFAFA;
    border: 1px solid #4183D7;
}

aside{
  display: none;
}
.pub{
  /*margin-left: 15%;*/
  width: 100%;
}
.map{
  margin-left: 12%;
}

footer{
background: #474747;
width: 100%;

}

.fcb{
  width:10%;
  height: 10%;
  margin-left:10%;
}
.twtt{
  width: 10%;
  height: 10%;
  margin-left: 5%;
  margin:2% 5% 0 0;
}
p{
  color:white;
  margin-left: 40%;

}

@media screen and (min-width:600px){

    .map{
      margin-left: 40%;
    }

    .pub{
      width: 30%;
      margin-top: 2%;
      position: absolute;
      left: 5%;
      top: 70%;
    }

    .deposer{
      width: 30%;
      height:40px;
      line-height:40px;
      text-align: center;
      margin-top: 8%;
      background:#3873BD;
      border-radius: 5px;
      margin-left: 5%;

    }

    .deposer a {
      color: white;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
    }

               /*button*/
    button{
      width: 30%;
      height:40px;
      line-height:40px;
      text-align: center;
      margin-top: 2%;
      border-radius: 5px;
      color:#3873BD ;
      font-weight: bold;
      font-size: 15px;
      margin-left: 5%;
      background:#FAFAFA;
      border: 1px solid #4183D7;
    }

    .fcb{
      width:5%;
      height: 5%;
      margin-left:10%;


    }
    .twtt{
      width: 5%;
      height: 5%;
      margin-left: 5%;


    }


}
     /*media query from 1024px*/
@media screen and (min-width:1024px){
      h1{
        display: none;
      }

			nav{
				display: unset;
			}
             /*menu*/

		 .menu {
		  	background: #F56B2A;
				width: 100%;
				height:70px;
		 	  line-height: 30px;
		 	  text-align: center;
	  	  font-family: OpenSensSemiBold;
					 	}

	 	li{
      list-style-type: none;
  	  display: inline-block;
		  margin:1%;
		  text-align: center;
		  font-size: 15px;
		  color:white;
		  font-weight: bold;
					 	}

.menu ul li a{
		  text-decoration: none;
			color: white;
		  
		}

		.menu ul li a:hover{
			text-decoration: underline;
		}

							 /*logo*/
		.logo{
			font-size: 30px;
			font-family: OpenSens;
		}

								/*connexion*/
		.connecter{
			border: 1px solid white;
			padding:5px 5px;
			border-radius: 5px;
		}




   aside{
    display: inline;
    width: 20%;
    position: absolute;
    right: 5%;
    top: 20%;

  }

  aside li{
    list-style-type: none;
    display: inline;
    text-align: center;
    font-size: 15px;
    color:white;
    font-weight: bold;

  }

  aside li a{
    display: block;
    text-align: right;
    margin-top: -6%;


  }

  aside ul li a:hover{
    color: #F56B2A;
  }

  footer{
    width: 100%;

  }


  .navfooter {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    padding:1%;
    margin-left: 3%;
    color: #fff;
  }

  .navfooter h3{
    margin-left: 10%;
    border-bottom: 1px solid #666666;
    width: 100%;
    font-size: 1rem;
    text-align: left;
  }

  .navfooter ul{
    margin-left: 7%;
  }

  .navfooter ul li {
    list-style-type: none;
    display: block;
    text-align: left;
    line-height: 30px;
  }

  .appstore{
    float:left;
    display: inline;
    margin-top: 5%;
  }

  .playstore{
    float:left;
    display: inline;
    margin-top: 5%;
  }

  .fcb{
    width:5%;
    height: 5%;
    position: absolute;
		vertical-align: bottom;
		right: -2%;
		margin: 2.5%;
  }

  .twtt{
    width: 4%;
    height: 4%;
		position: absolute;
		right: 1%;
		margin: 2.5% 5%;

  }


}
